body {
    background-image: url("https://preview.redd.it/3whzarxxa4f21.jpg?auto=webp&s=2f4133bb4a1921cfcb961084a7d625d84b700c02");
    background-color: #cccccc;
   }

   h1{
    color: white;
    text-shadow: 0 0 6px black;
   }

   p{
       color: white;
       text-shadow: 0 0 6px black;
   }

   th{
    color: white;
    text-shadow: 0 0 6px black;
   }

   td{
    color: white;
    text-shadow: 0 0 6px black;
   }