body {
    background-image: url("https://qph.fs.quoracdn.net/main-qimg-a0ef1deb6fa3a6054da7652698043420");
    background-color: #cccccc;
   }

   h1{
    color: white;
    text-shadow: 0 0 6px black;
   }

   p{
       color: white;
       text-shadow: 0 0 6px black;
   }

   th{
    color: white;
    text-shadow: 0 0 6px black;
   }

   td{
    color: white;
    text-shadow: 0 0 6px black;
   }