body {
    background-image: url("https://i.imgur.com/ShuRIOx.png");
    background-color: #cccccc;
   }

   h1{
    color: white;
    text-shadow: 0 0 6px black;
   }

   p{
       color: white;
       text-shadow: 0 0 6px black;
   }

   th{
    color: white;
    text-shadow: 0 0 6px black;
   }

   td{
    color: white;
    text-shadow: 0 0 6px black;
   }